<article>
    <h2>{{attrs.post.title}}</h2>
    <br>
    <img src="{{attrs.post.url}}"Z>
    <h4>Class of: {{attrs.post.year}}</h4>
    <p>{{attrs.post.message}}</p>

    <i>
      (Posted on {{attrs.post.created_at}}, Created by {{attrs.post.first_name}} {{attrs.post.last_name}})
    </i>
    <br>
    <hr>
</article>
