<article>

    <br>
    <img src="{{attrs.post.url}}"Z>
    <h3>Class of: {{attrs.post.year}}</h3>
    <p>{{attrs.post.message}}</p>

    <i>
      (Posted on {{attrs.post.created_at}}, Created by {{attrs.post.first_name}} {{attrs.post.last_name}})
    </i>
    <br>
    {{delete-post}}
    <hr>
</article>
