<h3>Create a New Post</h3>

<form id="NewPost">
    <p>
      {{input value=newPost.first_name placeholder="First Name"}}
      {{input value=newPost.last_name placeholder="Last Name"}}
      {{input value=newPost.year placeholder="Year"}}
      {{input value=newPost.url placeholder="Please enter link here"}}
    </p>
    <p>
      {{textarea value=newPost.message placeholder="Content" rows="10" cols="140"}}
    </p>
    <p>
        <button {{action "createPost" newPost}}>Publish</button>
    </p>
</form>
