
{{#link-to 'posts'}} Go to posts {{/link-to}}

<article>
    <br>

    <img src="{{model.url}}" width=100px>
    <h3>Class of: {{model.year}}</h3>
    <p>{{model.message}}</p>

    <i>
      (Created by {{model.first_name}} {{model.last_name}})
    </i>
    <br>

  {{#delete-post post=model deletePost="deletePost"}}{{/delete-post}}

  {{#update-post post=model updatePost="updatePost"}}{{/update-post}}
    <hr>
</article>
