<article>

    <br>
    <img src="{{model.url}}"Z>
    <h3>Class of: {{model.year}}</h3>
    <p>{{model.message}}</p>

    <i>
      (Posted on {{model.created_at}}, Created by {{model.first_name}} {{model.last_name}})
    </i>
    <br>
    {{delete-post}} {{update-post}}
    <hr>
</article>
